<div ng-if="authenticated" style="text-align: center">
    <a style="color: #000;" id="test" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#myModal">Create Event</a>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter your event information:</h4>
                </div>
                <div class="modal-body">
                    Event Name: <input ng-model="newEvent.title" style="width: 200px; float: right; margin-right: 50px;">
                </div>
                <div class="modal-body">
                    Event Date: <input ng-model="newEvent.description" type="date" style="width: 200px; float: right; margin-right: 50px;">
                </div>
                <div class="modal-body">
                    Event description: <input ng-model="newEvent.eventDate" style="width: 200px;  float: right; margin-right: 50px;">
                </div>
                <div class="modal-body">
                    Event Location: <input ng-model="newEvent.location" style="width: 200px;  float: right; margin-right: 50px;">
                </div>
                <div class="modal-body">
                    Event Location: <input ng-model="newEvent.posterUrl" style="width: 200px;  float: right; margin-right: 50px;">
                </div>

                <div class="modal-footer">
                    <button ng-click="createEvent(newEvent)" type="button" class="btn btn-default" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-block" id="events">
    <h3>Events</h3>
    <div class="container" ng-repeat="ev in test"   >
        <div class="row featurette">
            <div class="col-md-7 txt-sty1 flot-stn3">
                <h2 class="featurette-heading">Event  :   <span class="text-muted">{{ev.title}}.</span></h2>
                <p class="lead">Description: {{ev.description}}</p>
                <p class="lead">Date: {{ev.eventDate}}</p>
                <p class="lead">Location: {{ev.location}}</p>
            </div>
            <div class="col-md-5 flot-stn3">
                <img class="featurette-image img-responsive center-block" src="{{ev.posterUrl}}">
            </div>
            <div class="clearfix"></div>
        </div>

        <hr class="featurette-divider">
        <!--<hr class="featurette-divider">-->
    </div>
</div>