/* app css stylesheet */
body {
  /*overflow-y: scroll;*/
  overflow-x: hidden;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent !important;
}
.navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #10DBD9 !important;
}
@media screen and (min-width: 900px) {
  .container {
    width: 100% !important;
  }
  .logo {
    margin-left: 100px !important;
  }
  #buttonsNav {
    /*margin-left : 90px !important;*/
    margin-left: 22%;
  }
}
@media screen and (max-width: 640px) {
 .dropdown-toggle {
   padding: 0 !important;
   text-align: center;
 }
  #videosDiv{
    margin-left: 95px !important;
  }
}
#videos{
  margin: 20px;
  background-repeat: no-repeat;
}
.hideButton {
  display: none !important;
}
#logoutId {
  cursor: pointer;
  float:right !important;
  margin-left: 100px !important;
}
#loginId {
  cursor: pointer;
  float:right !important;
  margin-left: 100px !important;
}
body {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
  background: url('../app/components/themeComponents/images/recentMusic.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#test {
  margin: 20px;
}
.btn-primary {
  background-color: transparent !important;
  border-color: white !important;
}
.btn-primary:hover {
  border-color: #10DBD9 !important;
  color: #10DBD9 !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.features-block {
  background: #10C1B2 !important;
}
h2.featurette-heading {
  color: #3243C1 !important;
}
#recentPhotosHeader {
  text-align: center;
}

/* Youtube CSS */
fieldset, img{ border: 0;};
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}
/*h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}*/
abbr, acronym{ border: 0;}

#test1{ background: #eee url("states/JBox/shattered.png") repeat top center;}
#test1{ margin: 0 auto 100px; position: relative; width: 1280px;}
h1 strong, #playlist, .video-title{ font-family: 'Montserrat', Arial, sans-serif; font-weight: bold; }
#test2{ background: #df1f1f; color: white; height: 40px; padding: 20px 0;}
#test3{ float: left;}
#search{ float: left; height: 40px; position: relative; width: 880px;}
#query{ background: #ac0809; border: none; border-radius: 20px; color: white; float: left; height: 30px; line-height: 30px; padding: 5px 20px; width: 840px;}
#query:focus{ outline: none;}
#submit{ position: absolute; right: 50px;   }
#test4{ float: right; line-height: 40px; width: 140px; position: relative; bottom: 20px;}
#play, #pause{ cursor: pointer;}
#pause{ display: none;}

#results{background: #22242a; height: 944px; width: 640px;}
.video{min-height: 90px; padding: 10px; padding-left: 140px; position: relative;}
.video:nth-child(2n-1){ background: white;}
.video-image{ float: left; left: 10px; position: absolute; top: 10px;}
.video-title{ padding-top: 5px;}
.video-author{ color: #df1f1f; font-size: 14px; padding: 5px 0;}
.video-description{ color: #727785; font-size: 12px; line-height: 1.5;}
#player, #playlist{ background: white; height: 480px; overflow: hidden; position: absolute; right: 0; top: 40px; width: 640px;}
#player{ background: black;}
#playlist{ background: #22242a; color: #727785; font-size: 16px; height: 464px; overflow-x: hidden; top: 520px; width: 640px;}
#current{ color: white; font-size: 20px; padding: 20px;}
#playlist ol, #playlist li{ cursor: pointer;}
#playlist ol{ border-bottom: 1px solid #33363f; height: 340px; overflow-x: hidden;}
#playlist li{ border-top: 1px solid #33363f; cursor: pointer;}
#history li{ color: #33522d;}
#resultVideos:hover { cursor: pointer;}
.item-title{ margin-right: 80px; padding: 10px 20px;}
.item-title:hover{ background: #1171A2; color: white;}
.item-delete{ color: #ac0809; float: right; text-align: center; padding: 10px 0; width: 80px;}
.item-delete:hover{ background: #ac0809; color: white;}
#history .item-title:hover{ background: #33522d; color: white;}
#tabs, #tabs a{ background: #333; height: 64px; left: 0; line-height: 64px; position: absolute; text-align: center; width: 100%;}
#tabs{ bottom: 0;}
#tabs a{ color: #666; width: 50%;}
#tabs a:last-child{ left: 50%;}
#tabs .on{ background: #22242a; color: white;}